*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/codeStyles/
/.idea/assetWizardSettings.xml
.WorkshopApp_Personal_GitPublic.iml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/android-pdf-viewer/build/
